body{

background-image:linear-gradient(rgba(0, 1, 1, 0.36),rgba(0,0,0,0.6)), url('https://i.pinimg.com/originals/de/41/53/de415334320dd313b583016db0352e93.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95.3vh;
}
tr{
	color:white;
}

td{
	color: white;
}

label{
	color: white;
}